@model IEnumerable<MyEshop.Models.Slider>

@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                  columns.Bound(model => model.SlideTitle);
        columns.Bound(model => model.ClickCount);
        columns.Bound(model => model.SlideLink);
        columns.Bound(model => model.IsActive);
					columns.Bound(item => @item.SlideID).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.SlideID}, new {@class = "k-button k-button-icontext k-grid-Edit"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.SlideID}, new {@class = "k-button k-button-icontext k-grid-Delete"})
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{
						toolbar.Custom().Action("Create","Sliders").Text("افزودن");                          
					}
		)
		.Groupable()
		.Pageable()
		.Sortable()
		.Scrollable()
		.Filterable()              
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.SlideID))
					)              
	)
