@using MyEshop.Areas.Admin.Models
@model MyEshop.Models.Products

@{
    ViewBag.Title = "ویرایش " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductID)
        @Html.HiddenFor(model => model.ProductImage)

        <div class="form-group">
            @Html.LabelFor(model => model.GroupID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupID", String.Empty)
                @Html.ValidationMessageFor(model => model.GroupID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <label for="Title" class="control-label col-md-2">کلمات کلیدی</label>
            <div class="col-md-10">
                <input type="text" name="Tags" class="form-control" value="@ViewBag.Tags"/>
                <p class="help-block">کلمات کلیدی را با - از هم جدا کنید</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductImage, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("ImageUp")

                @Html.ValidationMessageFor(model => model.ProductImage)
                <br/>
                <img class="img-circle" src="/Images/ProductImages/Thumb/@Model.ProductImage"/>
            </div>
        </div>

        <div class="form-group">
            <label for="Title" class="control-label col-md-2">گالری تصاویر</label>
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("GalleryUp").Multiple(true)
                <hr/>
                @foreach (var item in Model.Product_Galleries)
                {
                    <div class="col-md-3 thumbnail" id="img_@(item.GalleryID)">
                        <img style="width: 100%; height: 150px" src="/Images/ProductImages/Thumb/@item.ImageName"/>
                        <a onclick="DeleteImage(@item.GalleryID)" class="btn btn-danger btn-block btn-xs">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                }
            </div>
        </div>


        <fieldset>
            <legend>امکانات محصول</legend>
            <div class="thumbnail" style="overflow: hidden">
                <div class="col-md-5">
                    @Html.DropDownList("FeatureID", String.Empty)
                </div>
                <div class="col-md-5">
                    <input class="form-control" id="txtValue" />
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success btn-block" onclick="AddFeature()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>
            <div id="showlistfeature">
                @{
    IEnumerable<FeatureListItemViewModel> list = Session["Features"] as IEnumerable<FeatureListItemViewModel>;
                }
                @Html.Partial("ListFeatures",list)
            </div>
        </fieldset>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    </div>
}

@section script
{
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/adapters/jquery.js"></script>
    <script>
    $(function () {
        $('#Text').ckeditor();
    });

    function DeleteImage(id) {
        $.get("/Admin/Products/DeleteImage/" + id, function() {
            $("#img_" + id).toggle(500);
        });
    }


    function AddFeature() {
        $.ajax({
            url: "/Admin/Products/AddFeature",
            data: {
                FeatureID: $("#FeatureID :selected").val(), Value: $("#txtValue").val(), Title: $("#FeatureID :selected").text()
            }
        }).done(function (res) {
            $("#showlistfeature").html(res);
            $("#txtValue").val('');
        });
    }

    function deleteFeature(id, value) {
        $.ajax({
            url: "/Admin/Products/DeleteFeature",
            data: {
                FeatureID: id, Value: value
            }
        }).done(function (res) {
            $("#showlistfeature").html(res);

        });
    }
    </script>

}